* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #334155;
  --secondary: #2C2D2E;

  --link: #107fd2;
 
  --background-card: #FFF;
  --background-badge: #E6EEF5;
  --background-body: #F2F5F9;

  --shadow-image: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --shadow-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

body {
  background: var(--background-body);

  color: var(--primary);
  font: 400 16px "Inter", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px;

  width: 100%;
  max-width: 1366px;

  padding: 0 24px;

  margin: 160px auto 100px;
}

section {
  height: 400px;
}

.projects {
  grid-column: 1 / 3;
}

.card {
  border-radius: 12px;
  background: var(--background-card);
  box-shadow: var(--shadow-card);
}